.carroussel {
  margin-top: 25px;

  width: 1240px;
  height: 415px;
  border-radius: 25px;
  position: relative;
  display: flex;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    position: relative;
  }

  .arrows {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    cursor: pointer;
    button {
      border: none;
      background: none;
      img {
        width: 40px;
      }
    }
  }
}
.accommodationLocation {
  margin-top: 30px;
  color: #ff6060;
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 18px;
  }
  .accommodationHost {
    display: flex;

    img {
      border-radius: 100px;
      width: 64px;
      height: 64px;
      object-fit: cover;
    }
    p {
      width: min-content;
      margin-right: 10px;
      text-align: end;
      font-size: 18px;
    }
  }
}
.countSlides {
  position: absolute;
  font-size: 45px;
  display: flex;
  font-size: 20px;
  justify-content: center;
  bottom: 25px;
  width: 100%;
  color: #fff;
}
.accommodationName {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tagsAndNotation {
  display: flex;
  color: white;
  ul {
    display: flex;

    li {
      border-radius: 10px;
      background: #ff6060;
      margin-right: 5px;
      padding: 5px 30px;
    }
  }
}

.collapseAccommodationPage {
  display: flex;
  justify-content: center;
  gap: 50px;
  :nth-child(1) {
    width: 582px;
  }
  :nth-child(2) {
    width: 582px;
  }
}
