.carroussel {
  margin-top: 25px;

  width: 100%;
  height: 415px;
  border-radius: 25px;
  position: relative;
  display: flex;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    position: relative;
  }

  .arrows {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    cursor: pointer;
    button {
      border: none;
      background: none;
      img {
        width: 40px;
      }
    }
  }
}
.accommodationLocation {
  margin-top: 30px;
  color: #ff6060;
  h1 {
    font-size: 30px;
    margin-right: 15px;
  }
  h2 {
    font-size: 18px;
  }
  .accommodationHost {
    display: flex;

    img {
      border-radius: 100px;
      width: 64px;
      height: 64px;
      object-fit: cover;
    }
    p {
      width: min-content;
      margin-right: 10px;
      text-align: end;
      font-size: 18px;
    }
  }
}
.countSlides {
  position: absolute;
  font-size: 45px;
  display: flex;
  font-size: 20px;
  justify-content: center;
  bottom: 25px;
  width: 100%;
  color: #fff;
}
.accommodationName {
  margin-bottom: 20px;
}

.tagsAndNotation {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    li {
      border-radius: 10px;
      background: #ff6060;
      margin-right: 5px;
      padding: 5px 30px;
    }
  }
}

.collapseAccommodationPage {
  display: flex;
  gap: 50px;
}
.flexAccommodationHost {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.flexAccommodationTitle {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 700px) {
  .flexAccommodationTitle {
    display: block;
  }
  .carroussel .arrows button img {
    width: 20px;
  }
  .flexAccommodationHost {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .collapseAccommodationPage {
    flex-direction: column;
  }
  .carroussel {
    height: 255px;
  }
  .arrowCollapse {
    width: 15px;
  }

  .tagsAndNotation ul li {
    border-radius: 5px;
    margin-bottom: 5px;
  }
  .starsRating img {
    height: 15px;
    width: 15px;
  }

  .accommodationLocation .accommodationHost img {
    height: 42px;
    width: 42px;
  }
  .accommodationLocation .accommodationHost p {
    font-size: 14px;
  }
  .accommodationLocation h1 {
    font-size: 20px;
  }
  .accommodationLocation h2 {
    font-size: 14px;
  }
  .collapseAccommodationPage {
    gap: 0;
  }
}
