.carroussel {
  margin-top: 25px;
  width: 100%;
  height: 415px;
  border-radius: 25px;
  position: relative;
  display: flex;
  align-items: center;
  @media screen and (max-width: 700px) {
    height: 255px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    position: relative;
  }

  .arrows {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    cursor: pointer;
    button {
      border: none;
      background: none;
      img {
        width: 40px;
        @media screen and (max-width: 700px) {
          width: 20px;
        }
      }
    }
  }
  .countSlides {
    position: absolute;
    font-size: 45px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    bottom: 25px;
    width: 100%;
    color: #fff;
  }
}
.accommodationLocation {
  margin-top: 30px;
  color: #ff6060;
  .flexAccommodationTitle {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 700px) {
      flex-direction: column;
    }
    .accommodationName {
      margin-bottom: 20px;
      h1 {
        font-size: 30px;
        margin-right: 15px;
        @media screen and (max-width: 700px) {
          font-size: 20px;
        }
      }
      h2 {
        font-size: 18px;
        @media screen and (max-width: 700px) {
          font-size: 14px;
        }
      }

      .tagsAndNotation {
        display: flex;
        color: white;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        ul {
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          li {
            border-radius: 10px;
            background: #ff6060;
            margin-right: 5px;
            padding: 5px 30px;
            @media screen and (max-width: 700px) {
              border-radius: 5px;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
    .flexAccommodationHost {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-around;
      @media screen and (max-width: 700px) {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
      }
      .accommodationHost {
        display: flex;
        p {
          width: min-content;
          margin-right: 10px;
          text-align: end;
          font-size: 18px;
          @media screen and (max-width: 700px) {
            font-size: 14px;
          }
        }
        img {
          border-radius: 100px;
          width: 64px;
          height: 64px;
          object-fit: cover;
          @media screen and (max-width: 700px) {
            height: 42px;
            width: 42px;
          }
        }
      }
      @media screen and (max-width: 700px) {
        .starsRating img {
          height: 15px;
          width: 15px;
        }
      }
    }
  }
}

.collapseAccommodationPage {
  display: flex;
  gap: 50px;
  width: 100%;
  @media screen and (max-width: 700px) {
    flex-direction: column;
    gap: 0;
    .arrowCollapse {
      width: 15px;
    }
  }
}
