/*banniere*/

.banner {
  position: relative;
  border-radius: 25px;
  height: 223px;
  margin-top: 50px;
  @media only screen and (max-width: 700px) {
    height: 111px;
  }
  .img_banner {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
    position: absolute;
    /*filtre noir transparent*/
    filter: brightness(0.6);
    @media only screen and (max-width: 700px) {
      border-radius: 10px;
    }
  }
  .banner_txt {
    color: #ffffff;
    position: absolute;
    font-size: 40px;
    width: 100%;
    height: 223px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 940px) {
      font-size: 30px;
    }
    @media only screen and (max-width: 700px) {
      font-size: 20px;
      width: 220px;
      text-align: initial;
      margin-left: 16px;
      width: 80%;
      height: 111px;
    }
  }
}
