@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Montserrat:wght@200;300;400&family=Roboto:wght@100;400&family=Shrikhand&display=swap");
* {
  font-family: "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;

  /*wrapper Page*/
  .wrapper {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    width: 90%;
    /*pour que le contenu ne colle pas à la bordure*/
    font-size: 80%;
    /*réduction taille police*/
  }
}
