.collapse_button {
  background: #ff6060;
  color: white;
  width: 582px;
  height: 52px;
  cursor: pointer;
  border: none;
  margin-top: 31px;
  border-radius: 10px;
}

.collapse_content {
  width: 582px;
  padding: 149px;
  overflow: hidden;
  transition: padding 0.2s ease-out;
  background: #f7f7f7;
  border-radius: 10px;
}
.collapse {
  max-height: 500px;
  transition: max-height 0.2s;
}

.activeCollapse {
  background-color: #ff6060;
}
