.center {
  text-align: center;
  color: #ff6060;
  margin-bottom: 280px;

  h1 {
    font-size: 288px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 100px;
    @media screen and (max-width: 768px) {
      font-size: 96px;
    }
    @media screen and (max-width: 285px) {
      font-size: 46px;
    }
  }
  h2 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 150px;
    @media screen and (max-width: 768px) {
      font-size: 18px;
    }
    @media screen and (max-width: 285px) {
      font-size: 15px;
    }
  }
  a {
    color: #ff6060;
  }
}
