footer {
  background: black;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  img {
    width: 110px;
    margin-top: 31px;
    margin-bottom: 31px;
    @media screen and (max-width: 700px) {
      font-size: 12px;
      width: 80px;
    }
  }

  p {
    @media screen and (max-width: 700px) {
      font-size: 12px;
    }
  }
}
