footer {
  background: black;
  height: 120px;
  display: flex;
  justify-content: center;
  .footer-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    img {
      width: 60px;
      @media screen and (max-width: 700px) {
        font-size: 12px;
      }
    }

    p {
      color: white;
      font-size: 18px;
      text-align: center;
      @media screen and (max-width: 700px) {
        font-size: 12px;
      }
    }
  }
}
