._Header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;

  /*Navigation*/
  ._Nav {
    display: flex;
    a {
      text-decoration: none;
      color: #ff6060;
      font-size: 18px;
    }

    .nav-active {
      text-decoration-line: underline;
    }
  }
}
._Nav a:nth-child(1) {
  margin-right: 57px;
}

@media only screen and (max-width: 700px) {
  ._Nav li {
    font-size: 15px;
    text-transform: uppercase;
  }
  .kasa-logo {
    width: 147px;
  }
}
@media only screen and (max-width: 400px) {
  ._Nav li {
    font-size: 15px;
  }
  .kasa-logo {
    width: 127px;
  }
  ._Nav a:nth-child(1) {
    margin-right: 27px;
  }
}
@media only screen and (max-width: 330px) {
  ._Nav li {
    font-size: 12px;
  }
  ._Nav a:nth-child(1) {
    margin-right: 5px;
  }
}
@media only screen and (max-width: 255px) {
  ._Header {
    justify-content: center;
  }
  ._Nav li {
    margin-top: 15px;
  }
}
